.status {
    background-color: #F2F3F4;
    min-height: 90vh;
    max-height: auto;
    padding: 20px;
    width: 100%;
    overflow-x: auto;
    box-sizing: border-box;
}

.status-column {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    /* Align columns to the left */
    width: max-content;
    /* Allow the columns to take their full width */
    padding-left: 20px;
    /* Padding inside the scroll area to avoid overflow from the left */
}

.status-column_content {
    width: 280px;
    /* Set width of each column */
}

.status-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#count {
    color: grey;
    font-size: 13px;
}

.status-title_content {
    display: flex;
    gap: 8px;
}

.status-title_content p {
    font-size: 13px;
}

.status-items {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    gap: 6px;
}

@media screen and (max-width: 700px) {
    .status-column_content {
        width: 200px;
    }
}